<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>json bread</title>
  </head>
  <body>
    <h1>BREAD(Browse, Read, Edit, Add, Delete)</h1>
    <h2>Filters</h2>
    <form action="/" method="GET">
      <input type="hidden" name="page" value="<%= page %>">
      <table class="table">
        <tbody>
          <tr>
            <%if(query.cid){%>
                <td><label class="checkbox-inline"><input type="checkbox" name="cid" checked>ID </label></td>
              <%}else{%>
                <td><label class="checkbox-inline"><input type="checkbox" name="cid">ID </label></td>
              <%}%>
            <td><input type="number" class="input" placeholder="ID" name="id" value="<%=query.id%>"></td>
          </tr>
          <tr>
            <%if(query.cstring){%>
                <td><label class="checkbox-inline"><input type="checkbox" name="cstring" checked>String</td>
              <%}else{%>
                <td><label class="checkbox-inline"><input type="checkbox" name="cstring">String</td>
              <%}%>
            <td><input type="text" class="input" placeholder="String" name="string" value="<%=query.string%>"></td>
          </tr>
          <tr>
            <%if(query.cinteger){%>
                <td><label class="checkbox-inline"><input type="checkbox" name="cinteger" checked>Integer</td>
              <%}else{%>
                <td><label class="checkbox-inline"><input type="checkbox" name="cinteger">Integer</td>
              <%}%>
                <td><input type="number" class="input" placeholder="Integer" name="integer" value="<%=query.integer%>"></td>
          </tr>
          <tr>
            <%if(query.cfloat){%>
              <td><label class="checkbox-inline"><input type="checkbox" name="cfloat" checked>Float</label></td>
              <%}else{%>
                <td><label class="checkbox-inline"><input type="checkbox" name="cfloat">Float</label></td>
              <%}%>
              <td><input type="number" class="input" placeholder="Float" name="float" value="<%=query.float%>"></td>
          </tr>
          <tr>
            <%if(query.cdate){%>
              <td><label class="checkbox-inline"><input type="checkbox" name="cdate" checked>Date</label></td>
              <%}else{%>
                <td><label class="checkbox-inline"><input type="checkbox" name="cdate">Date</label></td>
              <%}%>
              <td>
              <input type="date" class="date" placeholder="Start Date" name="sdate" value="<%=query.sdate%>"><br>
              <p class="date">
                to
              </p>
              <input type="date" class="date" placeholder="End Date" name="edate" value="<%=query.edate%>">
            </td>
          </tr>
          <tr>
            <%if(query.cboolean){%>
              <td><label class="checkbox-inline"><input type="checkbox" name="cboolean" checked>Boolean</label></td>
              <%}else{%>
                <td><label class="checkbox-inline"><input type="checkbox" name="cboolean">Boolean</label></td>
              <%}%>    
              <td>
              <select name="boolean" class="input">
                  <%if(query.boolean == 1){%>
                    <option value="9">Choose the boolean ...</option>
                    <option value="1" selected>True</option>
                    <option value="0">False</option>
                <%}else if(query.boolean == 0){%>
                    <option value="9">Choose the boolean ...</option>
                    <option value="1">True</option>
                    <option value="0" selected>False</option>
                <%}else{%>
                    <option value="9" selected>Choose the boolean ...</option>
                    <option value="1">True</option>
                    <option value="0">False</option>
                <%}%>
              </select>
            </td>
          </tr>
          <tr>
            <td><input type="submit" class="button" value="Search"></td>
          </tr>
        </tbody>
      </table>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">String</th>
          <th scope="col">Integer</th>
          <th scope="col">Float</th>
          <th scope="col">Date</th>
          <th scope="col">Boolean</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
          <tbody>
            <%data.forEach(function(val){%>
            <tr>
              <th scope="row"><%=val._id%></th>
              <td><%=val.string%></td>
              <td><%=val.integer%></td>
              <td><%=val.float%></td>
              <td><%=val.date%></td>
              <td><%=val.boolean == 1 ? 'True': val.boolean == 0 ? 'False' : 'Kosong'%></td>
              <td>
                <a href="/edit/<%=val._id%>"><button type="submit" class="b-edit" name="edit">Edit</button></a> 
                <a href="/delete/<%=val._id%>" onclick="return confirm('apakah anda yakin ?')"><button type="submit" class="b-delete" name="delete">Delete</button></a> 
              </td>
            </tr>
            <%});%>
          </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
              <!-- if(url ==) -->
              <%if(page <= 0){%>
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
              <%}else{%>
                <li class="page-item">
                  <a class="page-link" href="/?page=<%=page-1%>" tabindex="-1">Previous</a>
                </li>
              <%}%>
              <%for(var i = 0; i < Math.floor(leng/3)+1; i++){%>
                <%if(`/?page=${i}` == url){%>
                  <li class="page-item active">
                    <a href="/?page=<%=i%>">
                      <input type="submit" class="page-link" name="page" value="<%=i+1%>">
                    </a>
                  </li>
                <%}else if ('/' == url){%>
                  <%if(i == 0){%>
                    <li class="page-item active">
                      <a href="/?page=<%=i%>">
                        <input type="submit" class="page-link" name="page" value="<%=i+1%>">
                      </a>
                    </li>
                  <%}else{%>
                    <li class="page-item">
                      <a href="/?page=<%=i%>">
                        <input type="submit" class="page-link" name="page" value="<%=i+1%>">
                      </a>
                    </li>  
                  <%}%>
                <%}else{%>
                  <li class="page-item">
                      <a href="/?page=<%=i%>">
                        <input type="submit" class="page-link" name="page" value="<%=i+1%>">
                      </a>
                    </li>
                <%}%>
              <%}%>
              <%if(page == Math.floor(leng/3)){%>
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="+1">Next</a>
                </li>
              <%}else{%>
                <li class="page-item">
                  <a class="page-link" href="/?page=<%=parseInt(page)+1%>" tabindex="+1">Next</a>
                </li>
              <%}%>
            </ul>
          </nav>
          <a href="/add"><button type="submit" class="button">Add</button></a> 
          


    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>